@layer utilities {
    .display-webkit-box {
      display: -webkit-box;
    }
    .webkit-box-orient-vertical {
      -webkit-box-orient: vertical;
    }
    .webkit-box-direction-normal {
      -webkit-box-direction: normal;
    }
  }